*.swp
*.swo
.bak
*.bak
.DS_Store
.revision
.vscode/
.idea/
*.iml

bin/
pack/
vendor
test/logs
test/p2p/data/
test/docker/bin/
test/docker/data/
scripts/bootseeds.txt
scripts/wal2json/wal2json
libs/cryptonote/xcrypto/libs_darwin
libs/cryptonote/xcrypto/libs_linux
libs/pubsub/query/fuzz_test/output
tools/validators_priv.json
wallet/sbin/testdata
coverage.txt
profile.out
